/* styles.css */
.card { 
  background-image: linear-gradient(to right, #61634d, #4b501c);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px; /* Ancho de la tarjeta */
    display: inline-block; /* Mostrar las tarjetas en línea */
    vertical-align: top; /* Alinear las tarjetas en la parte superior */
    text-align: left;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
.card h1{

  color: black;
}  

.card p{
  color: black;
}