.contenedor {

  background-color: #272727;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
  }
  
  .pagination a:hover {
    background-color: #eee;
  }
  
  .button {
    border-radius: 5px;
    border: 1px solid #8586e7;
    color: #ffffff;
    background-image: linear-gradient(to right, #010111, #000266);
    cursor: pointer;
  } 